*{
    margin: 0px;
    /* box-sizing: border-box; */
}
header{
    background-color: dodgerblue;
    background-image: url("img/pattern.png");
    background-size: 390px;
    background-repeat: repeat-x; 
    height: 100px; 
}
header img{
    width: 250px;
    position: relative;
    top: 30px;
    left: 8px;
}
main{
    margin:8px;
}
#Titolo-crediti{
    margin-bottom: 20px;
}
#Titolo-crediti h1{
    font-size: 50px;
}
#Titolo-crediti h5{
    color: rgb(184, 184, 184);
}
#Titolo-crediti h5 span{
    color: rgb(0, 191, 255);
}
#Titolo-crediti h6{
    color: rgb(184, 184, 184);
}
#Immagini{
    margin-bottom: 20px;
}
#Immagini span{
    display: block;
}
